:root {
    --white:#FFFFFF;
    --black: #000000;
    --fuente:#1F3F68;
    --backgroundsearch: #F4F4F4;
    --blue1: #356EAD;
    --blue2: #1F3F68;
    --footercolor: #316099;
}

html {
    font-size: 62.5%;/*Se utiliza para resetear los pixeles y utilizae rem.*/
    box-sizing: border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;

}
.container {
    max-width: 90rem;
    margin: 0 auto;
}
/*Fuentes personalizados*/
.title-unit {
    font-family: Helvetica;
    color: var(--blue1);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem;
    Margin: 0;
}
.content1__text1-subtitle1 h3 {
    font-family: Helvetica;
    color: var(--blue2);
    font-weight: 700;
    font-size: 3.6rem;
    margin: 0;
}
.content1__text1-paragraph1 {
    font-family: Arial;
    color: var(--black);
    font-weight: 400;
    font-size: 1.6rem;
    margin: 1.5rem 1.5rem 0 0;
}
.content1__text1-inf1 {
    font-family: Helvetica;
    color: var(--blue2);
    font-weight: 700;
    font-size: 1.4rem;
    margin: 1.5rem 0 0 0;
}
.content1__text1-inf2 {
    font-family: Arial;
    color: var(--blue2);
    font-weight: 400;
    font-size: 1.4rem;
    margin: .5rem 0 0 0;
}
/* h2 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fontfamilypriamary);
} */

/*Header*/
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;

}

.header__logotipo {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 2rem;
    
}

.header__navigations {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 2rem;
    gap: 3rem;
}
.header__navigation--home {
    color: var(--fuente);
    font-weight: 700;

}
.header__navigations a {
    text-decoration: none;
    font-family: Helvetica;
    font-size: 2rem;
}
/*Hero*/
.hero {
    background-image: url(../img/Mask\ Group.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    position: relative;
}
.hero__content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__content-title {
    font-size: 2.8rem;
    text-align: center;
} 
.hero__content-text {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 10rem;
}
.hero__content-title,
.hero__content-text {
    font-family: Arial;
    font-weight: 400;
    color: var(--white);
}

.searchwrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 3rem 12rem;
    background-color: var(--backgroundsearch);
    padding: 1rem;
    border-radius: 1rem;
}
.searchwrapper__icon-image {
    height: 2rem;

}
.searchwrapper__input-text {
    border: none;
    background-color: var(--backgroundsearch);
    font-family: Arial;
    font-size: 1.6rem;
    font-weight: 400;
    width: 60rem;
    height: 3rem;
}
.content1 {
    display: grid;
    grid-template-rows: 10% 90%;
}
.content1__text-image {
    display: grid;
    grid-template-columns: 40% 60%;
}
.content1__text1 {
    display: grid;
    grid-template-rows: 20% 50% 30%;
}
.content1__text1icons1-inf {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.content1__text1-inf {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
}
.content1__icons1-inf{
    display: flex;
    justify-content: center;
}
.content1__icons1-inf1,
.content1__icons1-inf2 {
    height: 2rem;
    margin: 0 1.5rem 0 0;

}
.content1__image1 {
    display: flex;
    justify-content: center;
}
.content1__image1-edit {
    max-width: 100%;
    max-height: 100%;
    
}
.content2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
}
.content2__text-image {
    max-width: 100%;
    max-height: 100%;
}
.content3 {
    display: grid;
    grid-template-rows: 10% repeat(5, 18%);
    
}
.content3__text-image {
    display: grid;
    grid-template-columns: 40% 60%;
}
.content3__image-edit {
    max-width: 100%;
    max-height: 100%;
}
.content4 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--footercolor);
    color: var(--white);
}
.content4__texts-link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.content4__textsicons-inf {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.content4__textsicons {
    display: grid;
    grid-template-rows: 10% 90%;
}
.content4__texts {
    display: grid;
    grid-template-rows: 10% 90%;
}