:root {
    --white:#FFFFFF;
    --black: #000000;
    --backgroundsearch: #F4F4F4;
    --blue1: #356EAD;
    --blue2: #1F3F68;
    --footercolor: #316099;
}

html {
    font-size: 62.5%;/*Se utiliza para resetear los pixeles y utilizae rem.*/
    box-sizing: border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    max-width: 1319vh;

}
.container {
    max-width: 100%;
    max-height: 100%;
    width: 94.1rem;
    /* max-width: 94.1rem;
    max-height: 104.4rem; */
    margin: 0 auto;
}
.container2 {
    max-width: 100%;
    max-height: 100%;
    width: 94.1rem;
    /* max-width: 94.1rem;
    max-height: 126rem; */
    margin: 5rem auto;
}
.container3 {
    max-width: 100%;
    max-height: 100%;
    /* max-width: 94.1rem;
    max-height: 126rem; */
    margin: 0 auto;
}
/*Tipografías Header-Navigation*/
.header__navigations a { 
    font-weight: 700;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 2rem;
}
.header__navigation--home {
    color: var(--blue2);
}
.header__navigation {
    color: var(--black);
}
/*Tipografías Hero*/
.hero__content-title {
    font-size: 4.4rem;
} 
.hero__content-paragraph {
    font-size: 2rem;
}
.hero__content-title,
.hero__content-paragraph {
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    color: var(--white);
    width: 78rem;
}

/*Tipografía searchwrapper*/
.searchwrapper__input-text {
    font-family: Arial;
    font-size: 1.6rem;
    font-weight: 400;
}
::placeholder {
    color: var(--blue2);
}
/*Tipografía Content*/
.title-unit {
    font-family: Helvetica;
    color: var(--blue1);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    Margin: 0;
}
.footer-unit {
    font-family: Helvetica;
    color: var(--blue1);
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    Margin: 1rem;
}
.footer-unit-2 {
    font-family: Arial;
    color: var(--blue1);
    font-weight: 400;
    font-size: 1.6rem;
    Margin: 1rem;
}
.subtitle1 {
    font-family: Helvetica;
    color: var(--blue2);
    font-weight: 700;
    font-size: 3.6rem;
    margin: 0;
}
.subtitle2 {
    font-family: Helvetica;
    color: var(--blue2);
    font-weight: 700;
    font-size: 2.2rem;
    margin: 0;
}
.subtitle3 {
    font-family: Helvetica;
    color: var(--blue2);
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
}
.paragraph1, .paragraph2 {
    font-family: Arial;
    color: var(--black);
    font-weight: 400;
    font-size: 1.6rem;
    margin: 1.5rem 1.5rem 0 0;
}
.paragraph2 {
    font-family: Arial;
    color: var(--black);
    font-weight: 400;
    font-size: 1.4rem;
    margin: 1.5rem 1.5rem 0 0;
}
.text-autor {
    font-family: Helvetica;
    color: var(--blue2);
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0;
}
.text-fecha {
    font-family: Arial;
    color: var(--blue2);
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0;
}

/*Header*/
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
}

.header__logotipo {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 2rem;
    
}

.header__navigations {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 2rem;
    gap: 3rem;
}

/*Hero*/
.hero {
    background-image: url(../img/Mask\ Group.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    position: relative;
}
.hero__content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Search*/
.searchwrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 3rem 12rem;
    background-color: var(--backgroundsearch);
    padding: 1rem;
    border-radius: 1rem;
}
.searchwrapper__icon-image {
    height: 2rem;

}
.searchwrapper__input-text {
    border: none;
    background-color: var(--backgroundsearch);
    width: 60rem;
    height: 3rem;
    outline: 0;/*Borra el contono del input al momento de escribir en la web*/
}
/*Content number one*/
.content1 {
    display: grid;
    grid-template-rows: 5% 95%;
}
.content1__textimage1 {
    display: grid;
    grid-template-columns: 40% 60%;
}
.content1__text1 {
    display: grid;
    grid-template-rows: 20% 50% 30%;
}
.content1__text1icons1-inf,
.content2__text2icons2-inf,
.content3__text3icons3-inf {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.content1__text1-inf,
.content2__text2-inf,
.content3__text3-inf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.content1__icons1-inf,
.content2__icons2-inf,
.content3__icons3-inf {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 3rem;
}
.content1__icons1-inf1,.content1__icons1-inf2,
.content2__icons1-inf1,.content2__icons1-inf2,
.content3__icons1-inf1,.content2__icons1-inf2 {
    height: 2rem;
    /* margin: 0 1.5rem 0 0; */
}
.content1__image1 {
    display: flex;
    justify-content: right;
}
.content1__image1-edit {
    max-width: 100%;
    max-height: 100%;
}
.content1__textfinal {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 4rem;
}
/*Content number two*/
.content2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
    column-gap: 2rem;
}
.content2__textimage2 {
    display: grid;
    grid-template-rows: 54% 46%;
    /* row-gap: 1rem; */

}
.content2__image2-1,
.content2__image2-2,
.content2__image2-3 {
    display: flex;
    align-items: center;
}
.content2__image2-1 {
    justify-content: left;
}
.content2__image2-2 {
    justify-content: center;
}
.content2__image2-3 {
    justify-content: right;
}
.content2__text-image-edit {
    max-width: 100%;
    max-height: 100%;
    width: 31.3rem;
}
.content2__text2 {
    margin: 1rem 0 0 0;
}
.content2__text2icons2-inf {
    margin: 1rem 0 0 0;
}
.content3 {
    display: grid;
    grid-template-rows: 2% repeat(5, 18%) 3%;
    row-gap: 2rem;
    
}
.content3__textimage3 {
    display: grid;
    grid-template-columns: 40% 60%;
}
.content3__image-edit {
    max-width: 100%;
    max-height: 100%;
    width: 37rem;
}
.content3__text2-subtitle3 {
    margin: 0 0 0 1rem;
}
.content3__text3icons3-inf {
    margin: 9.5rem 0 0 0;
}
.content3__textfinal {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 4rem;
}
.content__textfinal-lef {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}
.content__textfinal-right {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
}
.content4 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--footercolor);
    color: var(--white);
}
.content4__texts-link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.content4__text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 5rem;
}
.content4__link  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

.content4__texts4icons4-inf {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5rem;
    column-gap: 10rem;
}
.content4__textsicons, .content4__texts {
    display: grid;
    grid-template-rows: 15% 85%;
    row-gap: 3rem;
    
}
.content4__text1icon {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
}
.content4__text1-paragraph2 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: repeat(3, 1fr);
}
.content4__text1-paragraph2 p {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;

}
/* .content4__text2-paragraph,
.content4__text3-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
} */



/* .content4__icon, .content4__text1-title {
    margin: 0;
} */
