:root {
    --white:#FFFFFF;
    --black: #000000;
    --fuente:#1F3F68;
    --backgroundsearch: #F4F4F4;
    --blue1: #356EAD;
    --blue2: #1F3F68;



}

html {
    font-size: 62.5%;/*Se utiliza para resetear los pixeles y utilizae rem.*/
    box-sizing: border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    
    font-size: 1.6rem;
    max-width: 80%;
    margin: 0 auto;
}
/* h2 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fontfamilypriamary);
} */

/*Header*/
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;

}

.header__logotipo {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 2rem;
    
}

.header__navigations {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 2rem;
    gap: 3rem;
}
.header__navigation--home {
    color: var(--fuente);
    font-weight: 700;

}
.header__navigations a {
    text-decoration: none;
    font-family: Helvetica;
    font-size: 2rem;
}
/*Hero*/
.hero {
    background-image: url(../img/Mask\ Group.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    position: relative;
}
.hero__content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__content-title {
    font-size: 2.8rem;
    text-align: center;
} 
.hero__content-text {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 10rem;
}
.hero__content-title,
.hero__content-text {
    font-family: Arial;
    font-weight: 400;
    color: var(--white);
}

.searchwrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 3rem 12rem;
    background-color: var(--backgroundsearch);
    padding: 1rem;
    border-radius: 1rem;
}
.searchwrapper__icon-image {
    height: 2rem;

}
.searchwrapper__input-text {
    border: none;
    background-color: var(--backgroundsearch);
    font-family: Arial;
    font-size: 1.6rem;
    font-weight: 400;
    width: 60rem;
    height: 3rem;
}
.content-1 {
    display: grid;
    grid-template-columns: 40% 60%;
}
.content-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

